<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <table style="width:200px">
      <tr>
        <td><%= form.label :title %></td>
        <td><%= form.text_field :title, id: :issue_title %></td> 
      </tr>
      <tr>
        <td><%= form.label :description %></td>
        <td><%= form.text_field :description, id: :issue_description %></td>
      </tr>
      <tr>
        <td><%= form.label :kind %></td>
        <td><%= form.text_field :kind, id: :issue_kind %></td>
      </tr>
      <tr>
        <td><%= form.label :priority %></td>
        <td><%= form.text_field :priority, id: :issue_priority %></td>
      </tr>
      <tr>
        <td><%= form.label :user_id %></td>
        <td><%= form.number_field :user_id, id: :issue_user_id %></td>
      </tr>
  </table>

  <div class="actions">
            <button class="btn-neutral">
                Update
            </button>
        </div>
<% end %>
