<%= form_with(model: @issue, local: true) do |form| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Issues</h1>
  <h2>Editing Issue</h2>

<div class="container">
  <div class="grid">
    
      <%= form.label :status %>
      <%= form.select :status, open: :open, onhold: :onhold, resolved: :resolved, duplicate: :duplicate, invalid: :invalid, wontfix: :wontfix, closed: :closed, :selected => params[@issue.kind] %>
    
      <%= form.label :title %>
      <%= form.text_field :title, id: :issue_title, value: @issue.title %>
    
      <%= form.label :description %>
      <%= form.text_area :description, id: :issue_description, value: @issue.description %>

      <%= form.label :kind %>
      <%= form.select :kind, bug: :bug, enhancement: :enhancement, proposal: :proposal, task: :task, :selected => params[@issue.kind] %>

      <%= form.label :priority %>
      <%= form.select :priority, major: :major, minor: :minor, trivial: :trivial, blocker: :blocker, critical: :critical, :selected => params[@issue.priority] %>

      <%= form.label :user_id %>
      <%= form.text_field :user_id, id: :issue_user_id, disabled:"true" %>
      
      <%= form.label :file %>
      <div>
        <%= form.file_field :file, multiple: false, direct_upload: true %>
        <%= image_tag @issue.file.representation(resize: "200x200>"), class:"attatchment" %>
      </div>
      
      
    </div>
    
    <div class="actions">
      <button class="btn-create">Update</button>
      <%= link_to 'Back', issues_path, class: "btn-back" %>
    </div>
  </div>
</div>
    
<% end %>

