<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Issues</h1>
  <%= link_to 'Create issue', new_issue_path, class: "button top-right" %>
</div>

<div class="filter-container" id="issue-toolbar">
  <span class="filter-label">Filter by:</span>
  <%= link_to "All", issues_path(@issue), class: :filter %>
  <%= link_to "Open", "?status=open", class: :filter %>
  <%= link_to "My issues", "?my_issues=1", class: :filter %>
  <%= link_to "Watching", "?watching=1", class: :filter %>
</div>

<h2>Issues (1–<%= @issues.size %> of <%= @issues.size %>)</h2>

<table>
  <thead>
    <tr>
      <th >Title</th>
      <th title="Type" class="img-col">T</th>
      <th title="Priority" class="img-col">P</th>
      <th>Status</th>
      <th>Votes</th>
      <th>User</th>
      <th>Created</th>
      <th>Updated</th>
      <th class="img-col no-visible"></th>
      <th class="img-col no-visible"></th>
      <th class="img-col no-visible"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td>
          <% if issue.kind == 'bug' %>
            <%= link_to image_tag('bug.svg'), "?kind=bug" %>
          <% end %>
          <% if issue.kind == 'enhancement' %>
            <%= link_to image_tag('enhancement.svg'), "?kind=enhancement" %>
          <% end %>
          <% if issue.kind == 'proposal' %>
            <%= link_to image_tag('proposal.svg'), "?kind=proposal" %>
          <% end %>
          <% if issue.kind == 'task' %>
            <%= link_to image_tag('task.svg'), "?kind=task" %>
          <% end %>
        </td>
        <td>
          <% if issue.priority == 'minor' %>
            <%= link_to image_tag('minor.svg'), "?priority=minor" %>
          <% end %>
          <% if issue.priority == 'major' %>
            <%= link_to image_tag('major.svg'), "?priority=major" %>
          <% end %>
          <% if issue.priority == 'trivial' %>
            <%= link_to image_tag('trivial.svg'), "?priority=trivial" %>
          <% end %>
          <% if issue.priority == 'blocker' %>
            <%= link_to image_tag('blocker.svg'), "?priority=blocker" %>
          <% end %>
          <% if issue.priority == 'critical' %>
            <%= link_to image_tag('critical.svg'), "?priority=critical" %>
          <% end %>
        </td>
        <td>
          <% if issue.status == 'open' %>
            <%= link_to image_tag('new.jpg'), "?status=open" %>
          <% end %>
          <% if issue.status == 'onhold' %>
            <%= link_to image_tag('on_hold.jpg'), "?status=onhold" %>
          <% end %>
          <% if issue.status == 'resolved' %>
            <%= link_to image_tag('in_progress.jpg'), "?status=resolved" %>
          <% end %>
          <% if issue.status == 'duplicate' %>
            <%= link_to image_tag('closed.jpg'), "?status=duplicate" %>
          <% end %>
          <% if issue.status == 'invalid' %>
            <%= link_to image_tag('closed.jpg'), "?status=invalid" %>
          <% end %>
          <% if issue.status == 'wontfix' %>
            <%= link_to image_tag('closed.jpg'), "?status=wontfix" %>
          <% end %>
          <% if issue.status == 'closed' %>
            <%= link_to image_tag('closed.jpg'), "?status=closed" %>
          <% end %>
        </td>
        <td><%= issue.votesCount %></td>
        <td><%= issue.assigned_user %></td>
        <td><%= issue.created_at %></td>
        <td><%= DateTime.now %> </td>
        <td><%= link_to image_tag('pen_1.svg'), edit_issue_path(issue), title: "Edit" %></td>
        <td><%= link_to image_tag('delete_1.svg'), issue, method: :delete, data: {confirm: 'Are you sure?'}, title: "Delete" %></td>
        <td>
          
          <% exist = issue.watches.find { |watch| watch.user_id == current_user.id} %>
          <% if exist %>
            <%= link_to image_tag('eye_2.svg') %>
          <% else %>
            <%= link_to image_tag('eye_2_no.svg') %>
          <% end %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

