<%= form_with(model: @issue, local: true) do |form| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container" style="text-align:center;margin-top:150px">
    <h1>Create issue</h1>
    
    <form method="post">
        <div class="field">
            <label for="inputTitle">
                Title
            </label>
             <%= form.text_field :title, id: :issue_title %>
        </div>
          
        <div class="field">
            <%= form.label :description %>
            <%= form.text_field :description, id: :issue_description %>
        </div>
        
        <div class="field">
            <%= form.label :kind %>
            <%= form.select :kind, bug: :bug, enhancement: :enhancement, proposal: :proposal, task: :task %>
        </div>
        
        <div class="field">
            <%= form.label :priority %>
            <%= form.text_field :priority, id: :issue_priority %>
        </div>
        
        <div class="field">
            <%= form.label :user_id %>
            <%= form.number_field :user_id, id: :issue_user_id %>
        </div>
        
        <div class="actions">
            <button class="btn-create">
                Create
            </button>
        </div>
    </form>
    
    <div>
        <%= link_to 'Back', issues_path %>
    </div>
</div>


<% end %>

