<%= form_with(model: @issue, local: true) do |form| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container" style="text-align:center;margin-top:150px">
    <h1>Create issue</h1>
    
    <form method="post">
        <div class="grid">
            <%= form.label :title %>
            <%= form.text_field :title, id: :issue_title %>
    
            <%= form.label :description %>
            <%= form.text_area :description, id: :issue_description %>
    
            <%= form.label :kind %>
            <%= form.select :kind, bug: :bug, enhancement: :enhancement, proposal: :proposal, task: :task %>
    
            <%= form.label :priority %>
            <%= form.select :priority, major: :major, minor: :minor, trivial: :trivial, blocker: :blocker, critical: :critical  %>
            
            
            <%= form.label :assigned_user %>
            <%= select_tag "Assigned user", options_from_collection_for_select(@users, "id", "name")  %>
            
            <%= form.hidden_field :status, id: :issue_status, value: :open %>
        </div>
        <div class="actions">
            <button class="btn-create">Create</button>
            <%= link_to 'Back', issues_path, class: "btn-back" %>
        </div>
    </form>
</div>


<% end %>

