
<p>EEEEEEEYYYYYYY</p>
<h2>Issues (1–<%= @issues.size %> of <%= @issues.size %>)</h2>

<table>
  <thead>
    <tr>
      <th >Title</th>
      <th title="Type" class="img-col">T</th>
      <th title="Priority" class="img-col">P</th>
      <th>Status</th>
      <th>Votes</th>
      <th>User</th>
      <th>Created</th>
      <th>Updated</th>
      <th class="img-col no-visible"></th>
      <th class="img-col no-visible"></th>
      <th class="img-col no-visible"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td>
          <% if issue.kind == 'bug' %>
            <%= link_to image_tag('bug.svg'), issue, title: "Show" %>
          <% end %>
          <% if issue.kind == 'enhancement' %>
            <%= link_to image_tag('enhancement.svg'), issue, title: "Show" %>
          <% end %>
          <% if issue.kind == 'proposal' %>
            <%= link_to image_tag('proposal.svg'), issue, title: "Show" %>
          <% end %>
          <% if issue.kind == 'task' %>
            <%= link_to image_tag('task.svg'), issue, title: "Show" %>
          <% end %>
        </td>
        <td>
          <% if issue.priority == 'minor' %>
            <%= link_to image_tag('minor.svg'), issue, title: "Show" %>
          <% end %>
          <% if issue.priority == 'major' %>
            <%= link_to image_tag('major.svg'), issue, title: "Show" %>
          <% end %>
          <% if issue.priority == 'trivial' %>
            <%= link_to image_tag('trivial.svg'), issue, title: "Show" %>
          <% end %>
          <% if issue.priority == 'blocker' %>
            <%= link_to image_tag('blocker.svg'), issue, title: "Show" %>
          <% end %>
          <% if issue.priority == 'critical' %>
            <%= link_to image_tag('critical.svg'), issue, title: "Show" %>
          <% end %>
        </td>
        <td>
          <% if issue.status == 'open' %>
            <%= link_to image_tag('new.jpg'), issue, title: "Show" %>
          <% end %>
          <% if issue.status == 'onhold' %>
            <%= link_to image_tag('on_hold.jpg'), issue, title: "Show" %>
          <% end %>
          <% if issue.status == 'inprogress' %>
            <%= link_to image_tag('in_progress.jpg'), issue, title: "Show" %>
          <% end %>
          <% if issue.status == 'closed' %>
            <%= link_to image_tag('closed.jpg'), issue, title: "Show" %>
          <% end %>
        </td>
        <td><%= issue.votes %></td>
        <td><%= issue.user_id %></td>
        <td><%= issue.created_at %></td>
        <td></td>
        <td><%= link_to image_tag('pen_1.svg'), edit_issue_path(issue), title: "Edit" %></td>
        <td><%= link_to image_tag('delete_1.svg'), issue, method: :delete, data: {confirm: 'Are you sure?'}, title: "Delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>