<p id="notice"><%= notice %></p>

    <h1><%= @issue.title %></h1>

    <div class="grid">
      <span class="label">Title</span>
      <span><%= @issue.title %></span>
      
      <span class="label">Description</span>
      <span><%= @issue.description %></span>
      
      <span class="label">Kind</span>
      <span><%= @issue.kind %></span>
      
      <span class="label">Priority</span>
      <span><%= @issue.priority %></span>
      
      <span class="label">Status</span>
      <span><%= @issue.status %></span>
      
      <span class="label">User</span>
      <span><%= @issue.user_id %></span>
  </div>
  <div class="actions">
    <%= link_to 'Edit', edit_issue_path(@issue), class:"btn-create" %>
    <%= link_to 'Back', issues_path, class:"btn-back" %>
  </div>

  <% @comments.where(issue_id: @issue.id).find_each do |comment| %>
    <p style="font-size: 14px ; color: #0052CC; font-weight: bold;"><%= @users.find(comment.user_id).name %></p>
    <p><%= comment.text %></p>
    
    <li style="display: inline"><%= link_to 'Edit', edit_comment_path(comment) %></li>
    <li style="display: inline"><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <li style="display: inline"><%= time_ago_in_words(comment.created_at) %></li>
    
  <% end %>
