<p id="notice"><%= notice %></p>

    <h1><%= @issue.title %></h1>

    <table style="width:200px">
      <tr>
        <td><strong>Title:</strong></td>
        <td><%= @issue.title %></td> 
      </tr>
      <tr>
        <td><strong>Description:</strong></td>
        <td><%= @issue.description %></td>
      </tr>
      <tr>
        <td><strong>Kind:</strong></td>
        <td><%= @issue.kind %></td>
      </tr>
      <tr>
        <td><strong>Priority:</strong></td>
        <td><%= @issue.priority %></td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td><%= @issue.status %></td>
      </tr>
      <tr>
        <td><strong>User:</strong></td>
        <td><%= @issue.user_id %></td>
      </tr>
  </table>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
