<p id="notice"><%= notice %></p>

    <h1><%= @issue.title %></h1>

    <div class="grid">
      <span class="label">Title</span>
      <span><%= @issue.title %></span>
      
      <span class="label">Description</span>
      <span><%= @issue.description %></span>
      
      <span class="label">Kind</span>
      <span><%= @issue.kind %></span>
      
      <span class="label">Priority</span>
      <span><%= @issue.priority %></span>
      
      <span class="label">Status</span>
      <span><%= @issue.status %></span>
      
      <span class="label">User</span>
      <span><%= @issue.assigned_user %></span>
      
      <span class="label">Votes</span>
      <span>
        <%= @issue.votes.count %>
        <% exist = @issue.votes.find { |vote| vote.user_id == current_user.id} %>
            <% if exist %>
              <%= link_to 'Unvote', issue_vote_path(@issue,exist), method: :delete, class:"btn-create" %>
            <% else %>
              <%= link_to 'Vote', issue_votes_path(@issue), method: :post, class:"btn-create" %>
            <% end %>
      </span>
      
      <span class="label">Watches</span>
      <span>
        <%= @issue.watches.count %>
        <% exist = @issue.watches.find { |watch| watch.user_id == current_user.id} %>
            <% if exist %>
              <%= link_to 'Unwatch', issue_watch_path(@issue,exist), method: :delete, class:"btn-create" %>
            <% else %>
              <%= link_to 'Watch', issue_watches_path(@issue), method: :post, class:"btn-create" %>
            <% end %>
      </span>
      
      <span class="label">Attachment</span>
      <div>
        <% if @issue.file.attached? %>
          <a href="<%= url_for(@issue.file) %>" download >
          <% if @issue.file.representable? %>
            <%= image_tag @issue.file.representation(resize: "200x200>"), class:"attatchment" %>
          <% else %>
            <%= image_tag @issue.file.filename %>
          <% end %>
          </a>
        <% else %>
        <%= 'None' %>
        <% end %>
      </div>
      
  </div>
  <div class="actions">
    
    <%= link_to 'Create issue', new_issue_path(@issue), class:"btn-create" %>
    <% if(current_user.id == @issue.user_id ) %><span><%= link_to 'Edit', edit_issue_path(@issue), class:"btn-create" %></span><% end %>
    <%= link_to 'Back', issues_path, class:"btn-back" %>
  </div>

  <div class="comments">
    <% @comments.each do |comment| %>
      <div class="comment">
        <p style="font-size: 14px ; color: #0052CC; font-weight: bold;"><%= comment.user.name %></p>
        <p><%= comment.text %></p>
        <ul>
        <% @lines.where(comment_id: comment.id).each do |line| %>
          <li><%= line.text %></li>
        <% end %>
        </ul>
        <span>
          <% if(current_user.id == comment.user_id ) %><span><%= link_to 'Edit', edit_comment_path(comment) %></span><% end %>
          <% if(current_user.id == comment.user_id ) %><span><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></span><% end %>
          <%= time_ago_in_words(comment.created_at) %>
        </span>
      </div>
    <% end %>
  </div>
  
<%= form_for Comment.new do |f| %> 
<%= f.text_field :text , placeholder: 'What do you want to say?'%>  
<%= f.hidden_field :issue_id, :value => @issue.id %>  
<%= f.hidden_field :user_id, :value => 1 %>  
<%= f.submit "Create" %>
<% end %>
