<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="img-col no-visible"></th>
      <th class="img-col no-visible"></th>
      <th class="img-col no-visible"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to image_tag('eye_2.svg'), user, title: "Show" %></td>
        <td><%= link_to image_tag('pen_1.svg'), edit_user_path(user), title: "Edit" %></td>
        <td><%= link_to image_tag('delete_1.svg'), user, method: :delete, data: {confirm: 'Are you sure?'}, title: "Delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
